<div class="wrapper">
  <div class="col-md-4 col-sm-12 mt-3">
    <div class="card text-white bg-dark border-primary">
      <div class="card-header border-primary">
        <div class="card-title ">
          <h4>Modes</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="mode-buttons-wrapper">
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.general)"> <i class="fas fa-lightbulb"></i></button>
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.soft)"> <i class="far fa-lightbulb"></i></button>
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.gaming)"><i class="fas fa-gamepad"></i></button>
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.night)"> <i class="fas fa-moon"></i> </button>
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.sunset)"><i class="fas fa-sun"></i></button>
          <button class="btn btn-primary mt-1 mode-button" (click)="setMode(modes.off)"><i class="fas fa-power-off"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 mt-3">
    <div class="card bg-dark text-white border-warning">
      <div class="card-header border-warning">
        <div class="card-title">
          <h4>Custom Value</h4>
        </div>
      </div>
      <div class="card-body ">
        <form [formGroup]="form">
          <div class="card-subtitle">
            Pick color
          </div>
          <p-colorPicker formControlName="color" format="rgb" [inline]="true"></p-colorPicker>
          <div class="my-4">
            <div class="card-subtitle">White: {{whiteVal}}</div>
            <div class="slider-wrapper">
              <p-slider formControlName="white" [styleClass]="'w-slider'" [min]="0" [max]="255"></p-slider>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 mt-3">
    <div class="card bg-dark border-danger text-white">
      <div class="card-header border-danger">
        <div class="card-title">
          <h4>Alarm</h4>
        </div>
      </div>
      <div class="card-body">
        <div>
          <p-calendar [(ngModel)]="dateValue" class="" [timeOnly]="true" ></p-calendar>
        </div>
        <button class="btn btn-warning mt-1" (click)="sendAlarm()"><i class="fas fa-bell"></i> Set Alarm</button>
      </div>
    </div>
  </div>
</div>


